{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    </head>
    <body>

        <div class="jumbotron text-center">
         <h1>NORTHWIND WAREHOUSE</h1>

                   <div class="topnav">
                      <a href="{% url 'warehouse:list_of_orders' %}"> ORDERS</a>
                      <a href="{% url 'warehouse:list_of_categories' %}"> CATEGORIES</a>
                      <a href="{% url 'warehouse:list_of_suppliers' %}"> SUPPLIERS</a>
                      <a href="{% url 'warehouse:list_of_products' %}">  PRODUCTS</a>
                      <a href="admin/">ADMIN</a>
                   </div>



        </div>

    {% block content %}




    {% endblock %}
    </body>
</html>